# Node modules
node_modules/

# Svelte build directory
build/

# Git and version control
.git/
.gitignore

# Various config files that are not needed in production
*.log
npm-debug.log
yarn-error.log
.dockerignore
.gitignore
.npmrc
.env*
.docker-compose.yml

# Local development files
.svelte-kit/
.vite/
vite.config.js
svelte.config.js
README.md
